body {
  align-items: stretch;
  height: 100%;
  margin: 0;
}

header {
  height: 6vh;
  border-bottom: 0.5px solid #e5e7eb;
}

.menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1vw;
  margin-right: 2vw;
}

.menu1 a {
  outline: none;
  text-decoration: none;
  color: #4b5563;
}

.menu1 a:hover {
  color: black;
}
.menu1 button {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  border: none;
}
.menu1 button :hover {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  background-color: black;
  border: none;
}

main {
  padding: 2vh 2vw 2vh 2vw;
  background-color: #eff6ff;
  height: 80vh;
}

.twoColumnSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.firstColumnInSection {
  margin-right: 1vw;
}

.secondColumnInSection {
  margin-left: 1vw;
  margin-right: 2vw;
}

.twoColumnSection footer {
  height: 15vh;
  background: black;
}

.timeline-dot {
  position: absolute;
  top: 0px;
  left: -8px;
  width: 14px;
  height: 14px;
  background-color: #1a73e8;
  border-radius: 50%;
}

.timeline-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
  border-left: 2px solid #1a73e8;
}

.timeline-date {
  color: #1a73e8;
  font-weight: bold;
}
